*{
    margin: 0;
    padding: 0;
}
html{
    background-color: bisque;
}

#pageheader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

#pageheader > img{
    height: 100px;

}
#pageheader > h1{
    justify-self: center;
    align-self: center;
    color: orange;
    text-shadow: 3px 3px gray;
}
#pageheader > nav{
    justify-self: end;
}
#pageheader a {
    text-decoration: none;
    font-size: 1.1rem;
    border: 3px red solid;
    border-radius: 30%;
    padding: 0.25rem;
    margin: 1px;
}

#section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 5px;
    row-gap: 5px;
}

#footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 1px;
    column-gap: 1px;
    margin: 1%;
}