html{
    background-color: bisque;
}

header{
    display: grid;
}

img{
    justify-self: start;

}
nav{
    justify-self: end;

}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 5px;
    row-gap: 5px;
}

footer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 1px;
    column-gap: 1px;
}